.add-plan {
  background-color: #d4d9eb;
}

.add-plan__fieldset {
  margin-bottom: 10px;
  background-color: $color-light;
  border: none;
}

.add-plan__legend {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #1d2e5b;
}

.add-plan__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}

.add-plan__form-label {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #1d2e5b;
  text-transform: uppercase;
}

.add-plan__input {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: #1d2e5b;
}

.add-plan__form-child {
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #444444;
}

.add-plan__form-month {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #1d2e5b;
  border: none;
}

.add-plan__table {
  border-collapse: collapse;
}

.add-plane__date-wrap {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cbced9;
  text-align: center;
}

.add-plane__day {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

.add-plane__date {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(#444444, 0.3);
  background-color: transparent;
}

.add-plan__select {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #1d2e5b;
  text-transform: uppercase;
}

.add-plan__btn {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #1d2e5b;
  text-transform: uppercase;
}

.add-plan__label {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: #1d2e5b;
}

.add-plan__textarea {
  overflow: hidden;
  resize: none;
}

.add-plan__country-list {
  @include list-reset;
}

.add-plan__list-item {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}
