.add-plan {
  padding-bottom: 60px;
  background-color: #d4d9eb;
}

.add-plan__fieldset {
  position: relative;

  margin: 0 0 13px 0;
  padding: 20px 25px;

  background-color: $color-light;
  border: none;
  border-radius: 10px;
}

.add-plan__dot {
  margin-right: 15px;
  fill: #bbbfcc;
}

.add-plan__slider-button:active .add-plan__dot {
  fill: #1d2e5b;
}

.add-plan__slider-buttons {
  &--step1 {
    position: absolute;
    top: -55px;
    right: 0;
  }

  &--step2 {
    display: none;
  }

  &--step3 {
    display: none;
  }
}

.add-plan__slider-text {
  display: none;
}

.add-plan__legend {
  padding-bottom: 15px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #1d2e5b;
}

.add-plan__text {
  margin: 0;
  padding-bottom: 20px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $color-grey;
}

.add-plan__form-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &--child {
    margin-bottom: 20px;
    justify-content: start;
  }

  &--month {
    border-top: 1px solid rgba(#1d2e5b, 0.3);
    border-bottom: 1px solid rgba(#1d2e5b, 0.3);
  }
}

.add-plan__form-text {
  font-size: 16px;
  font-weight: 500;
  color: rgba(#1d2e5b, 0.3);
  text-transform: uppercase;
}

.add-plan__input-wrap {
  margin: 10px 0 15px 0;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(#1d2e5b, 0.3);
  border-radius: 5px;

  &--country1 {
    margin-top: 5px;
  }

  &--duration {
    margin-bottom: 20px;
  }

  &:hover {
    border: 1px solid #959bb2;

    .add-plan__icon {
      fill: #959bb2;
    }
  }

  &:active {
    border: 1px solid #161c35;

    .add-plan__icon {
      fill: #161c35;
    }
  }

  &--flag {
    width: 50px;
    margin-left: -1px;
    margin-bottom: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:active {
      border: none;
    }
  }
}

.add-plan__form-label {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #1d2e5b;
  text-transform: uppercase;
}

.add-plan__form-input {
  width: 140px;
  border: none;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: #1d2e5b;
  text-align: center;
  outline: none;
}

.add-plan__form-btn {
  padding: 0;

  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  outline: none;

  &--decrease {
    justify-content: flex-start;
  }

  &--increase {
    justify-content: flex-end;
  }

  &:hover,
  &:focus {
    .add-plan__icon {
      fill: #959bb2;
    }

    .add-plan__month-icon {
      fill: rgba(#000000, 0.6);
    }
  }

  &:active {
    .add-plan__icon {
      fill: #161c35;
    }

    .add-plan__month-icon {
      fill: rgba(#000000, 0.1);
    }
  }
}

.add-plan__icon {
  fill: #cbced9;
}

.add-plan__form-child {
  display: flex;
  align-items: center;

  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: $color-grey;
}

.add-plan__tick-field {
  margin-right: 10px;

  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $color-light;
  border: 1px solid rgba(#1d2e5b, 0.3);
  border-radius: 5px;
  box-sizing: border-box;

  &:hover {
    border: 1px solid #959bb2;
  }

  &:active {
    border: none;
    background-color: #e2e5f1;

    .add-plan__tick {
      fill: #b7bbcc;
    }
  }
}

.add-plan__tick {
  width: 9px;
  height: 9px;

  fill: #1d2e5b;
}

.add-plan__form-input--child:not(:checked) + .add-plan__tick-field svg {
  display: none;
}

.add-plan__form-input--child:checked + .add-plan__tick-field svg {
  display: block;
}

.add-plan__form-month {
  width: 140px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #1d2e5b;
  text-align: center;
  border: none;
}

.add-plan__month-icon {
  width: 9px;
  height: 16px;
  fill: rgba(#000000, 0.3);
}

.add-plan__table {
  margin: 15px 0 0 0;
  border-collapse: collapse;
}

.add-plan__table th {
  width: 30px;
  height: 30px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $color-grey;
}

.add-plan__date-wrap {
  padding: 0;
  margin: 0;

  width: 30px;
  height: 30px;
  border: 1px solid #cbced9;
  text-align: center;

  &--current {
    outline: 2px solid #ff5c23;
  }

  &--trip {
    background-color: #1d2e5b;
  }

  &--next {
    background-color: #edeff6;
  }

  &:hover {
    background-color: #1d2e5b;
    outline: 2px solid #ff5c23;
    box-sizing: border-box;

    .add-plan__date {
      color: $color-light;
    }
  }

  &:active {
    background-color: #101d41;
    outline: none;

    .add-plan__date {
      color: $color-light;
    }
  }
}

.add-plan__date {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $color-grey;

  &--disabled {
    color: rgba(#444444, 0.3);
  }

  &--trip {
    color: $color-light;
  }
}

.add-plan__day {
  &--red {
    color: #ff5c23;
  }

  &--mob {
    display: block;
  }
}

.add-plan__day-tab {
  display: none;
}

.add-plan__day-status {
  display: none;
}

.add-plan__select-wrap {
  position: relative;
}

.add-plan__small-arrow-icon {
  position: absolute;
  top: 56px;
  right: 51px;

  width: 5px;
  height: 10px;

  fill: #cbced9;
}

.add-plan__select-inner {
  position: relative;

  display: flex;
  justify-content: center;
}

.add-plan__select-input {
  &::before {
    position: absolute;
    top: 11px;
    right: 55px;

    content: "";
    width: 50px;
    height: 38px;

    background-image: linear-gradient(to right, transparent 0, $color-light 30%);
  }

  &::after {
    position: absolute;
    top: 25px;
    right: 47px;

    content: "";
    width: 8px;
    height: 8px;

    background-color: #1d2e5b;
    border-radius: 50%;
  }
}

.add-plan__select {
  padding: 10px;

  width: 165px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #1d2e5b;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  appearance: none;
  background-color: $color-light;

  &::-ms-expand {
    display: none;
  }
}

.add-plan__option {
  white-space: nowrap;
  overflow: hidden;
}

.add-plan__flag-icon {
  width: 34px;
  height: 24px;
}

.add-plan__dropdown-form-icon {
  position: absolute;
  top: 25px;
  left: 140px;
  z-index: 1;

  width: 12px;
  height: 7px;

  fill: rgba(#000000, 0.3);
}

.add-plan__dropdown-choice-icon {
  width: 12px;
  height: 7px;

  fill: rgba(#000000, 0.3);
}

.add-plan__select-cross {
  position: absolute;
  top: 0;
  right: -10px;

  padding: 0;

  width: 21px;
  height: 21px;

  background-color: transparent;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    .add-plan__select-cross-icon {
      fill: #a5a7ac;
    }
  }

  &:active {
    .add-plan__select-cross-icon {
      fill: #e1e3e9;
    }
  }
}

.add-plan__select-cross-icon {
  padding: 6px;
  overflow: visible;

  width: 9px;
  height: 9px;

  fill: rgba(#000000, 0.3);
  background-color: #edeff6;
  border-radius: 50%;
}

.add-plan__btn {
  margin: 25px 0 0 0;
  padding: 11px 0;

  width: 220px;

  display: flex;
  justify-content: center;

  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #1d2e5b;
  text-transform: uppercase;
  border: none;

  &--last {
    margin-top: 5px;
    padding-bottom: 0;

    &:hover,
    &:focus {
      background-color: transparent;
      color: rgba(#1d2e5b, 0.7);

      .add-plan__btn-icon--last {
        fill: rgba(#1d2e5b, 0.7);
      }
    }

    &:active {
      color: rgba(#1d2e5b, 0.3);

      .add-plan__btn-icon--last {
        fill: rgba(#1d2e5b, 0.3);
      }
    }
  }

  &--disabled {
    background-color: transparent;
  }

  &--send {
    margin-top: 15px;
  }
}

.add-plan__btn-icon {
  display: none;
}

.add-plan__choice-cross-icon {
  width: 14px;
  height: 14px;

  fill: rgba(#000000, 0.3);
  background-color: #edeff6;
  border-radius: 50%;

  transform: rotate(45deg);
}

.add-plan__choice-btn {
  position: relative;

  margin: 20px 0 20px 0;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 220px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #1d2e5b;
  text-transform: uppercase;
  text-align: left;
  border-radius: 5px;
  outline: none;

  &--plus {
    box-sizing: border-box;
    background-color: #edeff6;

    &:hover,
    &:focus {
      background-color: #dfe3f0;

      .add-plan__choice-cross-icon {
        fill: #9c9ea8;
      }
    }

    &:active {
      color: rgba(#1d2e5b, 0.3);

      .add-plan__choice-cross-icon {
        fill: #c8ccd8;
      }
    }
  }

  &::after {
    position: absolute;
    top: 15px;
    right: 49px;

    content: "";
    width: 8px;
    height: 8px;

    border: 1px solid #cdd0db;
    border-radius: 50%;
    box-sizing: border-box;
  }
}

.add-plan__choice-btn-country {
  position: relative;

  margin: 10px 0 5px;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 220px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #1d2e5b;
  text-transform: uppercase;
  text-align: left;
  border-radius: 5px;

  border: 1px solid rgba(#1d2e5b, 0.3);
  background-color: transparent;
  outline: none;

  &::after {
    position: absolute;
    top: 15px;
    right: 49px;

    content: "";
    width: 8px;
    height: 8px;

    border: 1px solid #cdd0db;
    border-radius: 50%;
    box-sizing: border-box;
  }

  &:hover {
    border: 1px solid #959bb2;

    .add-plan__dropdown-choice-icon {
      fill: #959bb2;
    }
  }
}

.add-plan__choice-btn-country--active {
  background-color: #1d2e5b;
  color: $color-light;
  border-radius: 5px 5px 0 0;
  outline: none;

  &::after {
    display: none;
  }

  .add-plan__dropdown-choice-icon {
    display: none;
  }
}

.add-plan__label {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: #1d2e5b;
}

.add-plan__choice-btn-country--active ~ .add-plan__select-cross--dropdown {
  top: 10px;
  right: 15px;
}

.add-plan__choice-btn-country--active ~ .add-plan__select-cross--dropdown svg {
  fill: #606c8c;
  background-color: transparent;
}

.add-plan__select-cross--dropdown:hover .add-plan__select-cross-icon--dropdown {
  fill: $color-light;
  background-color: transparent;
}

.add-plan__select-cross--dropdown:active .add-plan__select-cross-icon--dropdown {
  fill: #34436c;
}

.add-plan__dropdown {
  position: absolute;
  top: 40px;
  left: -1px;
  z-index: 10;

  width: 220px;

  display: none;
  flex-direction: column;
  background-color: $color-light;
  border: 1px solid #cccfda;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

.add-plan__choice-btn-country--active + .add-plan__dropdown {
  display: flex;
}

.add-plan__country-list {
  @include list-reset;
  padding: 1px 0;

  width: 217px;
  height: 207px;

  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  background-color: #cbced9;
}

.add-plan__country-letter {
  padding-right: 1px;

  width: 42px;
  height: 40px;

  &:nth-of-type(5n) {
    padding-right: 0;
  }

  &--active {
    background-color: #edeff6;
  }
}

.add-plan__country-text {
  width: 42px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $color-light;
  color: $color-blue;
  text-transform: uppercase;
}

.add-plan__country-input:checked ~ .add-plan__country-text {
  background-color: #edeff6;
}

.add-plan__list {
  margin: 55px 0 15px;
  padding-left: 20px;
  width: 200px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.add-plan__list-item {
  font-weight: 400;
  color: $color-grey;

  &:hover,
  &:focus {
    color: #1d2e5b;
  }

  &:active {
    color: rgba(#1d2e5b, 0.3);
  }
}

.add-plan__textarea-wrap {
  position: relative;
  padding-bottom: 20px;

  &--one::before {
    position: absolute;
    top: 9px;
    left: -14px;

    content: "";

    width: 2px;
    height: 284px;

    background-color: #1d2e5b;
  }
}

.add-plan__textarea-invalid {
  position: absolute;
  left: 1px;
  bottom: 7px;

  padding: 16px 20px;

  width: 215px;

  display: none;

  color: #ff0000;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffefef;
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
}

.add-plan__textarea {
  padding: 10px;
  width: 195px;
  overflow: hidden;
  resize: none;
  border: 1px solid rgba(#1d2e5b, 0.3);
  border-radius: 5px;
  outline: none;

  &:hover {
    border: 1px solid #959bb2;
  }

  &:focus {
    border: 1px solid #1d2e5b;
  }

  &:invalid {
    border: 1px solid #f47e7e;
  }
}

.add-plan__textarea-inner {
  position: relative;
}

.add-plan__textarea:invalid + .add-plan__textarea-invalid {
  display: block;
}

.add-plan__activity-inner {
  position: relative;

  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: top;

  &::before {
    position: absolute;
    top: 9px;
    left: -14px;

    content: "";

    width: 14px;
    height: 2px;

    background-color: #1d2e5b;
  }

  &::after {
    position: absolute;
    top: 7px;
    left: -3px;

    content: "";

    width: 6px;
    height: 6px;

    background-color: #1d2e5b;
    border-radius: 50%;
  }
}

.add-plan__activity-title {
  position: relative;

  margin: 0;
  padding: 0 0 15px 10px;

  width: 170px;

  font-size: 18px;
  font-weight: 500;
  color: #1d2e5b;
  white-space: nowrap;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 1px;
    right: 1px;

    content: "";
    width: 50px;
    height: 35px;

    background-image: linear-gradient(to right, transparent 0, $color-light 30%);
  }
}

@media (min-width: $tablet-width) {
  .add-plan {
    padding-top: 50px;
  }

  .add-plan__fieldset {
    margin: 0 35px 40px 35px;
    padding: 45px 45px 60px;
    border-radius: 25px;
  }

  .add-plan__slider-buttons {
    &--step1 {
      top: -85px;
      right: 0;
    }
  }

  .add-plan__slider-button {
    text-align: right;
  }

  .add-plan__dot {
    margin: 0 0 0 25px;
  }

  .add-plan__legend {
    padding-bottom: 35px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    font-size: 36px;
    line-height: 36px;
  }

  .add-plan__text {
    padding-bottom: 40px;

    display: flex;
    flex-wrap: wrap;

    font-size: 20px;
    line-height: 24px;
  }

  .add-plan__forms-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .add-plan__form-wrap {
    padding: 25px 0 10px 0;
    border-top: 1px solid rgba(#1d2e5b, 0.3);

    &--people {
      order: -1;
    }

    &--child {
      margin: 0;
      padding: 0;

      width: 100%;
      border: none;
      order: -1;
    }

    &--calendar {
      padding-top: 10px;
      border: none;
    }

    &--select {
      justify-content: space-between;
    }

    &--country-1 {
      padding: 30px 0 0 0;
      margin: 0;
    }

    &--country-2 {
      border: none;
      padding: 0;
    }

    &--month {
      padding: 0;
      margin-top: 45px;
    }

    &--duration {
      padding: 25px 0 0 0;
    }
  }

  .add-plan__icon {
    width: 20px;

    &--minus {
      height: 2px;
    }

    &--plus {
      height: 20px;
    }
  }

  .add-plan__tick-field {
    margin-right: 20px;
    width: 37px;
    height: 37px;
  }

  .add-plan__tick {
    width: 12px;
    height: 12px;
  }

  .add-plan__form-label {
    padding: 0;
    font-size: 20px;
  }

  .add-plan__form-text {
    padding: 0;
    font-size: 20px;
  }

  .add-plan__form-child {
    margin: 0 0 25px 0;
    font-size: 20px;
    font-weight: 500;
    color: #1d2e5b;
    text-transform: uppercase;
  }

  .add-plan__form-month {
    width: 405px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
  }


  .add-plan__form-input {
    width: 390px;
    border: none;
    font-size: 20px;

    &--child {
      margin-bottom: 20px;
      width: 35px;
      height: 35px;
    }
  }

  .add-plan__form-btn {
    width: 70px;
    height: 68px;

    &--increase,
    &--decrease {
      width: 60px;
      height: 80px;

      justify-content: center;
    }
  }

  .add-plan__month-icon {
    width: 20px;
    height: 32px;
  }

  .add-plan__table {
    margin: 30px 0 0 0;
  }

  .add-plan__table th {
    font-size: 18px;
    line-height: 18px;
  }

  .add-plan__day {
    display: none;
  }

  .add-plan__day-tab {
    display: block;

    font-size: 18px;
    line-height: 30px;
    color: $color-grey;

    &--red {
      color: #ff5c23;
    }
  }

  .add-plan__date-wrap {
    width: 75px;
    height: 68px;
  }

  .add-plan__date {
    font-size: 20px;
  }

  .add-plan__btn {
    padding: 30px;
    margin: 30px 0 0 0;

    width: 285px;

    font-size: 24px;
    text-transform: none;
    justify-content: space-between;
    border-radius: 15px;

    &--disabled {
      text-align: right;
      widows: 150px;
      padding: 30px 0 30px 50px;
    }

    &--last {
      width: 195px;
    }
  }

  .add-plan__btn-icon {
    display: block;
  }

  .add-plan__input-wrap {
    margin: 20px 0;

    &--flag {
      width: 75px;
      margin: 10px 40px 10px 55px;
      border: none;
      display: flex;
      align-items: flex-start;
    }

    &--country1 {
      margin: 0;
      margin-bottom: 15px;
    }

    &--country2 {
      margin: 0 0 15px 0;
    }
  }

  .add-plan__select {
    padding: 25px;

    width: 365px;

    font-size: 20px;

    &--after {
      display: none;
    }
  }

  .add-plan__select-inner {
    position: relative;

    justify-content: flex-start;
    align-items: center;
  }

  .add-plan__select-input {
    &::before {
      display: none;
    }

    &::after {
      top: 25px;
      right: 137px;
      z-index: 2;

      width: 14px;
      height: 14px;
    }
  }

  .add-plan__choice-btn {
    margin: 0 30px 15px 0;
    padding: 25px;
    width: 365px;
    font-size: 20px;

    &--plus {
      box-sizing: border-box;
      background-color: #edeff6;
    }

    &::after {
      top: 30px;
      right: -33px;
      z-index: 2;

      width: 14px;
      height: 14px;

      background-color: $color-light;
    }
  }

  .add-plan__choice-btn-country {
    margin: 0 30px 15px 0;
    padding: 25px;
    width: 365px;
    font-size: 20px;

    &::after {
      top: 30px;
      right: -33px;
      z-index: 2;

      width: 14px;
      height: 14px;

      background-color: $color-light;
    }
  }

  .add-plan__choice-btn-country--active ~ .add-plan__select-cross--dropdown {
    top: 20px;
    right: 200px;

    display: block;
  }

  .add-plan__select-cross--dropdown .add-plan__select-cross-icon--dropdown {
    width: 20px;
    height: 20px;
  }

  .add-plan__dropdown {
    top: 70px;
    left: 0;

    width: 575px;

    flex-direction: row;
    border: none;
    box-shadow: 0 20px 25px  rgba(#1d2e5b, 0.1);
  }

  .add-plan__country-list {
    @include list-reset;
    margin: 30px 76px 30px 20px;
    padding: 1px 0;

    width: 270px;
    height: 347px;
  }

  .add-plan__country-letter {
    padding-right: 1px;

    width: 52px;
    height: 68px;

    &--active {
      background-color: #1d2e5b;
      color: $color-light;
    }
  }

  .add-plan__country-text {
    width: 52px;
    height: 68px;

    font-size: 20px;
    font-weight: 500;
  }

  .add-plan__country-input:checked ~ .add-plan__country-text {
    background-color: #1d2e5b;
    color: $color-light;
  }

  .add-plan__list-item {
    padding: 4px 0;
    font-size: 20px;
  }

  .add-plan__list {
    margin: 0;
    padding: 30px 25px 55px;
    width: 150px;

    font-size: 20px;
    line-height: 30px;
    border-left: 1px solid #eaecf2;
  }

  .add-plan__btn-wrap {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  .add-plan__small-arrow-icon {
    display: none;
  }

  .add-plan__flag-icon {
    width: 70px;
    height: 48px;
  }

  .add-plan__select-cross {
    top: 20px;
    right: 10px;
  }

  .add-plan__select-cross-icon {
    width: 20px;
    height: 20px;

    background-color: transparent;
  }

  .add-plan__dropdown-form-icon {
    top: 30px;
    left: 320px;

    width: 20px;
    height: 10px;

    &--chez {
      top: 30px;
    }
  }

  .add-plan__dropdown-choice-icon {
    width: 20px;
    height: 10px;
  }

  .add-plan__choice {
    &::after {
      position: absolute;
      top: -203px;
      right: 145px;

      content: "";

      width: 1px;
      height: 410px;
      background: linear-gradient(to bottom, #cbced9 90%, transparent 100%);
    }
  }

  .add-plan__choice-cross-icon {
    width: 20px;
    height: 20px;
  }

  .add-plan__textarea-wrap {
    padding: 25px 0 25px 0;

    &--one {
      border-top: 1px solid rgba(#1d2e5b, 0.3);

      &::before {
        top: 40px;
        left: 520px;
        height: 270px;
      }
    }

    &--two {
      padding-bottom: 0;
    }
  }

  .add-plan__textarea {
    padding: 15px;
    width: 470px;
    height: 110px;
    font-size: 20px;
  }

  .add-plan__textarea-invalid {
    width: 500px;

    font-size: 24px;
  }

  .add-plan__activity-inner {
    width: 500px;
    align-items: start;

    &::before {
      display: none;
    }

    &::after {
      width: 15px;
      height: 15px;

      top: 15px;
      left: 515px;
    }
  }

  .add-plan__activity-title {
    padding: 10px 0 35px;
    width: 420px;
    font-size: 30px;
  }
}

@media (min-width: $desktop-width) {
  .add-plan {
    padding: 45px 0 85px;
  }

  .add-plan__fieldset {
    margin: 0;
    margin-bottom: 45px;
    padding: 90px 160px 115px;
    border-radius: 50px;
  }

  .add-plan__slider-buttons {
    position: absolute;
    top: 100px;
    right: 190px;

    width: 190px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .add-plan__slider-button {
    padding: 12px 0;
    width: 190px;

    display: flex;
    justify-content: start;
    align-items: center;

    border: none;
    background-color: transparent;

    &--active {
      .add-plan__slider-text {
        color: rgba(#000000, 1);
      }
    }
  }

  .add-plan__slider-text {
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: rgba(#000000, 0.6);
    text-transform: uppercase;
    text-align: left;
  }

  .add-plan__dot {
    margin: 0 35px 0 0;
  }

  .add-plan__legend-container {
    padding-bottom: 15px;
    width: 570px;
  }

  .add-plan__legend {
    flex-direction: row;
  }

  .add-plan__forms-wrap {
    align-items: center;
    width: 1000px;
    flex-direction: row;
    border-top: 1px solid rgba(#1d2e5b, 0.3);
  }

  .add-plan__form-wrap {
    display: flex;

    &--people {
      padding: 30px 0 0 0;
      width: 485px;
      border: none;
    }

    &--duration {
      padding: 10px 0 30px 0;
      width: 485px;
      border: none;
    }

    &--child {
      margin-top: 50px;
      margin-left: auto;
      width: 245px;
    }

    &--calendar {
      padding: 0;
      border: none;
    }

    &--select {
      justify-content: space-between;
    }

    &--country-1 {
      padding-top: 60px;
    }

    &--country-2 {
      border: none;
      padding: 0;
    }

    &--month {
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }

  .add-plan__form-input {
    width: 40px;
  }

  .add-plan__form-btn {
    &--increase {
      width: 60px;
      height: 85px;

      justify-content: flex-end;
    }

    &--decrease {
      width: 60px;
      height: 85px;

      justify-content: flex-start;
    }
  }

  .add-plan__form-text {
    margin-left: auto;
    padding: 20px 0 0 0;

    text-align: center;
    order: 1;
    color: #1d2e5b;
  }

  .add-plan__input-wrap {
    &--duration {
      margin: 0;
    }

    &--people {
      margin: 0;
    }

    &--flag {
      margin: 10px 110px 20px 0;
    }
  }

  .add-plan__form-label {
    padding: 25px 0;
    width: 220px;
  }

  .add-plan__table {
    margin: 0 0 60px 0;
  }

  .add-plan__date-wrap {
    padding: 15px;

    width: 143px;
    height: 70px;
    text-align: left;
    vertical-align: top;
    box-sizing: border-box;
  }

  .add-plan__table th {
    padding: 10px;
    text-align: left;
  }

  .add-plan__date {
    font-size: 18px;
  }

  .add-plan__day-status {
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: $color-light;

    &--apr {
      margin-left: 5px;
      width: 30px;
      display: inline-block;
      vertical-align: top;
      color: $color-grey;
    }

    &--mar {
      margin-left: 5px;
      width: 30px;
      display: inline-block;
      vertical-align: top;
      color: rgba($color-grey, 0.3);
    }
  }

  .add-plan__btn {
    margin: 0;
  }

  .add-plan__select {
    width: 730px;
    padding: 25px;
  }

  .add-plan__select-input {
    &::after {
      right: 220px;
    }
  }

  .add-plan__select-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .add-plan__choice-btn {
    margin-right: 30px;
    padding: 25px;
    width: 730px;

    &::after {
      right: -50px;
    }
  }

  .add-plan__choice-btn-country {
    margin-right: 30px;
    padding: 25px;
    width: 730px;

    &::after {
      right: -50px;
    }
  }

  .add-plan__choice {
    &::after {
      top: -230px;
      right: 227px;
      height: 500px;
    }
  }

  .add-plan__choice-btn-country--active ~ .add-plan__select-cross--dropdown {
    top: 20px;
    right: 10px;
  }

  .add-plan__select-cross--dropdown .add-plan__select-cross-icon--dropdown {
    fill: #cbced9;
  }

  .add-plan__dropdown {
    top: 70px;
    left: 0;

    width: 730px;
  }

  .add-plan__dropdown-form-icon {
    top: 30px;
    left: 690px;
  }

  .add-plan__country-list {
    margin: 25px 95px 25px 20px;
    padding: 1px 0;

    width: 380px;
    height: 425px;

    background-color: $color-light;
  }

  .add-plan__country-letter {
    margin: 7px;
    padding: 0;

    width: 60px;
    height: 70px;

    border: 1px solid #cbced9;
    border-radius: 3px;

    &:hover {
      order: 1px solid #959bb2;
    }
  }

  .add-plan__country-text {
    width: 60px;
    height: 70px;
  }

  .add-plan__btn-wrap {
    padding-top: 40px;
  }

  .add-plan__activity-inner {
    width: 885px;

    &::after {
      left: 765px;
    }
  }

  .add-plan__activity-title {
    padding: 10px 0 40px 0;
  }

  .add-plan__textarea-wrap {
    &--one {
      padding: 70px 0 10px 0;

      &::before {
        top: 90px;
        left: 770px;
      }
    }
  }

  .add-plan__textarea {
    padding: 20px;
    width: 690px;
  }

  .add-plan__textarea-invalid {
    width: 730px;
  }
}
