.copyright {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e1e3e9;
}

.copyright__text {
  margin: 0;
  padding: 5px 0;

  font-weight: 400;
  color: $color-grey;
}

.copyright__logo {
  display: flex;
}

.copyright__icon {
  fill: $color-blue;
  align-self: center;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 160px;

    border-top: none;
    align-items: center;
  }

  .copyright__text {
    font-size: 20px;
    line-height: 24px;
  }
}
