.copyright {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e1e3e9;
}

.copyright__text {
  font-weight: 400;
  color: $color-grey;
}

@media (min-width: $tablet-width) {
  .copyright {
    border-top: none;
  }

  .copyright__text {
    font-size: 24px;
  }
}
