.cta-form {
  padding-top: 130px;
  padding-bottom: 30px;
  background-color: $color-blue;
}

.cta-form__title {
  padding-left: 30px;
  padding-bottom: 20px;
}

.cta-form__text {
  margin: 0 auto;
  padding: 0 30px 0 25px;

  text-align: center;
}

.cta-form__link {
  color: $color-yellow;
  border-bottom: 1px solid $color-yellow;
  font-size: 300;

  &:hover,
  &:focus {
    color: #ff8d30;
    border-bottom: 1px solid #ff8d30;
  }

  &:active {
    color: rgba(#ff8d30, 0.3);
    border-bottom: 1px solid rgba(#ff8d30, 0.3);
  }
}

.cta-form__list-link {
  color: $color-yellow;

  &:hover,
  &:focus {
    color: #ffbd30;

    .cta-form__list-icon {
      fill: #ffbd30;
    }
  }

  &:active {
    color: rgba(#ffbd30, 0.3);

    .cta-form__list-icon {
      fill: rgba(#ffbd30, 0.3);
    }
  }
}

.cta-form__form {
  padding-top: 30px;
  padding-bottom: 28px;
  width: 100%;
}

.cta-form__wrap {
  width: 270px;

  display: flex;
  align-items: center;
}

.cta-form__input {
  padding: 22px 25px;
  height: 60px;
  width: 250px;

  border-radius: 8px 0 0 8px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  color: $color-light;

  &:hover {
    background-color: #edeff6;

    &::placeholder {
      color: rgba($color-grey, 0.5);
      background-color: #edeff6;
    }
  }

  &:focus {
    border: 3px solid $color-light;
    color: $color-light;
    background-color: $color-blue;

    &::placeholder {
      color: $color-light;
      background-color: $color-blue;
    }
  }

  &:invalid {
    background-color: #ffefef;
    color: #ff0000;

    &::placeholder {
      background-color: #ffefef;
    }
  }
}

.cta-form__input::placeholder {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: rgba(#000000, 0.3);
  background-color: $color-light;
}

.cta-form__btn {
  margin-left: -15px;
  width: 60px;
  height: 61px;

  border-radius: 8px;
  border: none;
  font-size: 0;
}

.cta-form__list {
  @include list-reset;
  padding-top: 18px;
}

@media (min-width: $tablet-width) {
  .cta-form {
    padding-top: 135px;
    padding-bottom: 65px;
  }

  .cta-form__form {
    padding: 30px 0 20px 0;
  }

  .cta-form__title {
    padding: 0 0 60px 0;
    margin: 0 auto;
    width: 400px;
  }

  .cta-form__text {
    width: 620px;
    margin: 0 auto;
  }

  .cta-form__wrap {
    padding: 35px;
    width: 619px;
  }

  .cta-form__input {
    padding: 31px 35px;
    width: 540px;
    height: 80px;
    border-radius: 15px 0 0 15px;
    font-size: 24px;

    &::placeholder {
      font-size: 24px;
    }
  }

  .cta-form__btn {
    margin: 0;

    width: 80px;
    height: 80px;

    border-radius: 0 15px 15px 0;
  }

  .cta-form__list {
    padding: 45px 0 0 35px;
  }
}

@media (min-width: $desktop-width) {
  .cta-form {
    padding-top: 160px;
    padding-bottom: 100px;
  }

  .cta-form__form {
    padding: 30px 0 35px 0;
  }

  .cta-form__wrap {
    padding: 30px 70px;
    width: 1180px;
  }

  .cta-form__input {
    width: 860px;
    border-radius: 20px 0 0 20px;
  }

  .cta-form__btn {
    padding: 28px 45px 28px 35px;

    width: 320px;

    border-radius: 0 20px 20px 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    text-align: left;
    text-transform: capitalize;
  }

  .cta-form__list {
    margin: 0 auto;
    padding: 50px 0 0 0;

    width: 870px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cta-form__list-icon {
    margin-right: 30px;
    padding: 31px 26px;

    width: 38px;
    height: 28px;

    display: block;
  }
}
