.intro-comment {
  padding-top: 40px;
  color: $color-light;
}

.intro-comment__review {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  margin: 0;
  padding: 30px 85px 110px 25px;
}

.intro-comment__text {
  margin: 0;
  padding-bottom: 18px;
  font-weight: 300;
}

.intro-comment__author {
  font-weight: 700;
  font-style: normal;
}

@media (min-width: $tablet-width) {
  .intro-comment__review {
    width: 270px;
    margin: 0;
    padding: 50px 30px 295px;
  }

  .intro-comment__text {
    font-size: 28px;
    line-height: 33px;
    padding-bottom: 45px;
  }

  .intro-comment__author {
    font-size: 21px;
    line-height: 25px;
  }
}

@media (min-width: $desktop-width) {
  .intro-comment {
    padding-top: 220px;
  }

  .intro-comment__review {
    padding: 0 10px 0 0;
    justify-content: flex-end;
  }
}
