.intro-top {
  position: relative;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 20px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  background: url("../img/traveller-illustration-mobile@1x.png") no-repeat,
    url("../img/globe-back-mobile@1x.jpg") no-repeat;
  background-size: 192px auto, cover;
  background-position: 75px 220px, center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background:  url("../img/traveller-illustration-mobile@2x.png")   no-repeat,
      url("../img/globe-back-mobile@2x.jpg") no-repeat;
    background-size: 192px auto, cover;
    background-position: 75px 220px, center;
  }
}

.intro-top__text {
  margin: 0 auto 245px;
  padding-top: 15px;
  width: 234px;

  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  color: $color-light;
}

.intro-top__login-wrap {
  position: absolute;
  top: 440px;
  left: 0;
  z-index: 10;
  margin: 0 auto;
  padding: 0 25px;

  width: 270px;

  display: flex;
  align-items: center;
}

.intro-top__list {
  display: flex;

  padding: 0;

  width: 80px;
}

.intro-top__link {
  width: 40px;
  height: 40px;

  display: block;
}

.intro-top__icon {
  border-radius: 50%;
  overflow: visible;

  &--phone {
    padding: 11px;
    background-color: $color-orange;
    fill: $color-dark;
  }

  &--mail {
    padding: 13px 11px;
    background-color: #ffbd30;
    fill: $color-dark;
  }
}

.intro-top__link:hover .intro-top__icon {
  &--phone {
    background-color: #f26926;
  }

  &--mail {
    background-color: #ff8d30;
  }
}

.intro-top__link:active .intro-top__icon {
  &--phone {
    fill: rgba($color-dark, 0.3);
  }

  &--mail {
    fill: rgba($color-dark, 0.3);
  }
}

.intro-top__login {
  padding: 5px 0;

  width: 190px;

  display: block;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .intro-top {
    margin: 0;
    padding-top: 120px;
    background: none;
  }

  .intro-top__text {
    width: 400px;
    margin: 0 auto;
    padding-top: 35px;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
  }

  .intro-top__login-wrap {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .intro-top {
    position: relative;

    padding-top: 210px;
  }

  .intro-top__text {
    margin: 0;
    padding: 0 0 0 75px;
    text-align: left;
  }
}
