.intro {
  background: linear-gradient($color-dark 73%, $color-blue 27%);
}

.intro__wrap {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: $tablet-width) {
  .intro {
    background: linear-gradient(#182044 78%, $color-blue 22%);
  }

  .intro__wrap {
    background:  url("../img/traveller-illustration-tablet@1x.png") no-repeat,
      url("../img/globe-back-tablet@1x.jpg") no-repeat;
    background-size: 372px 451px, auto 612px;
    background-position: 280px 405px, center 400px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background:  url("../img/traveller-illustration-tablet@2x.png") no-repeat,
        url("../img/globe-back-tablet@2x.jpg") no-repeat;
      background-size: 372px 451px, auto 612px;
      background-position: 280px 405px, center 400px;
    }
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background: url("../img/traveller-illustration-desktop@1x.png") no-repeat,
      url("../img/globe-back-desktop@1x.jpg") no-repeat;
    background-size: 431px 640px, cover;
    background-position: 600px 110px, center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/traveller-illustration-desktop@2x.png") no-repeat,
        url("../img/globe-back-desktop@2x.jpg") no-repeat;
      background-size: 431px 640px, cover;
      background-position: 600px 110px, center;
    }
  }

  .intro__wrap {
    margin: 0 auto;
    padding: 0 60px;

    width: 1320px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background: none;
  }
}
