.map {
  position: relative;
}

.map__title {
  padding: 95px 0 35px;

  background-color: $color-yellow;
}

.map__address {
  margin: 0;
  padding-bottom: 30px;

  display: flex;

  width: 210px;

  font-weight: 700;
  color: $color-dark;
  text-transform: uppercase;
}

.map__btn {
  padding: 17px 30px 17px 22px;

  border: 3px solid #1d2e5b;
}

.map__location-icon {
  margin-right: 15px;
  padding: 11px 16px;

  fill: $color-yellow;
  overflow: visible;
  background-color: #121936;
  border-radius: 50%;
}

.map__wrap {
  position: relative;
  margin-top: -30px;
  height: 335px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.map__marker-icon {
  position: absolute;
  top: 50%;
  left: 50%;
}

@media (min-width: $tablet-width) {
  .map__title {
    padding: 105px 0 85px;
  }

  .map__address {
    margin: 0 auto;
    padding-bottom: 40px;

    width: 619px;

    align-items: center;

    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
  }

  .map__location-icon {
    margin-right: 25px;
    padding: 17px 23px;

    width: 20px;
    height: 34px;
  }

  .map__btn {
    margin: 0 auto;
    padding: 28px 40px 28px 35px;

    width: 619px;

    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;

    &:hover,
    &:focus {
      background-color: $color-blue;
      color: $color-light;

      .map__btn-icon {
        fill: $color-light;
      }
    }

    &:active {
      color: rgba($color-light, 0.3);

      .map__btn-icon {
        fill: rgba($color-light, 0.3);
      }
    }
  }

  .map__wrap {
    margin-top: -80px;
    height: 570px;
  }

  .map__marker-icon {
    width: 55px;
    height: 55px;
  }

  .map__img {
    width: 768px;
    height: 700px;
  }
}

@media (min-width: $desktop-width) {
  .map__title {
    padding: 110px 0 50px 0;
  }

  .map__title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .map__address {
    margin: 0;
    padding: 0 0 0 220px;

    width: 560px;

    font-weight: 700;
  }

  .map__location-icon {
    margin-right: 30px;
    padding: 24px 32px;

    width: 25px;
    height: 45px;
  }

  .map__btn {
    margin: 0 70px 0 0;
    padding: 27px 45px 27px 30px;

    width: 320px;
  }

  .map__wrap {
    margin-top: -200px;
    padding-bottom: 60px;
    height: 600px;
  }

  .map__img {
    width: 1440px;
    height: 750px;
  }
}
