.modal {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 30;
}

@media (min-width: $tablet-width) {
  .modal {
    top: 125px;
  }
}

@media (min-width: $desktop-width) {
  .modal {
    top: 165px;
  }
}
