.modal {
  position: absolute;
  top: 45px;
  left: 25px;
  z-index: 30;

  display: none;
}

@media (min-width: $tablet-width) {
  .modal {
    top: 65px;
    left: 40px;
  }
}

@media (min-width: $desktop-width) {
  .modal {
    top: 165px;
    left: 345px;
  }
}
