.my-plans {
  padding-bottom: 90px;
  background-color: #dfe3f0;
}

.my-plans__title {
  margin: 0;
  padding: 30px 0;
}

.my-plans__list {
  @include list-reset;
}

.my-plans__item {
  padding: 20px 25px;
  margin-bottom: 15px;

  background-color: $color-light;
  border-radius: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.my-plans__country {
  margin: 0;
  padding: 0 0 20px 0;

  display: flex;
  justify-content: flex-start;

  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #14171f;
}

.my-plans__travellers,
.my-plans__date {
  margin: 0;
  padding: 2px 0;

  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: #1d2e5b;
  text-transform: uppercase;
}

.my-plans__change {
  margin-top: 20px;

  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: rgba(#000000, 0.3);
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .my-plans {
    padding: 55px 0 130px;
  }

  .my-plans__title {
    padding: 0 0 60px 30px;
  }

  .my-plans__list {
    padding: 0 35px;
  }

  .my-plans__item {
    margin: 0 0 10px 0;
    padding: 0;

    width: 619px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &:last-of-type {
      margin-bottom: 0;
    }

    &::after {
      content: "";
      flex-basis: 100%;
      height: 1px;
      background-color: #eff0f4;
      order: 2;
    }
  }

  .my-plans__country {
    padding: 40px 35px 45px;
    width: 100%;

    order: 1;
    justify-content: space-between;

    font-size: 24px;
  }

  .my-plans__country-number {
    order: 1;
    font-size: 20px;
  }

  .my-plans__info {
    padding: 0 35px;

    width: 100%;

    display: flex;
    justify-content: space-between;
    order: 3;
  }

  .my-plans__travellers {
    padding: 17px 0;

    font-size: 20px;
  }

  .my-plans__date {
    padding: 17px 0;

    font-size: 20px;
  }

  .my-plans__change {
    margin: 0;
    padding: 17px 0;

    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .my-plans {
    padding-bottom: 125px;
  }

  .my-plans__title {
    padding: 0 0 60px 70px;
  }

  .my-plans__list {
    padding: 0 0 0 60px;
  }

  .my-plans__item {
    margin-bottom: 15px;
    width: 100%;

    &::after {
      display: none;
    }
  }

  .my-plans__country {
    order: 0;
    padding: 40px;

    width: 500px;

    justify-content: flex-start;
  }

  .my-plans__country-number {
    margin-right: 40px;
    order: 0;
  }

  .my-plans__info {
    padding: 0 40px;

    width: 600px;
  }

  .my-plans__travellers {
    padding: 35px 0;
  }

  .my-plans__date {
    padding: 35px 0;
  }

  .my-plans__change {
    padding: 35px 0;

    text-align: right;
  }
}
