.page-main {
  background-color: #edeff6;
}

.page-main__title-wrap {
  margin: 0;
  padding: 15px 0;
  background-color: $color-dark;
}

.page-main__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: $color-light;
}

.page-main__title-button {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-main__title-wrap {
    padding: 70px 35px;
  }

  .page-main__title-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .page-main__title {
    font-size: 60px;
    line-height: 70px;
  }

  .page-main__title-button {
    display: block;
    box-sizing: border-box;
    align-self: center;
    width: 180px;
    padding-right: 60px;
    font-size: 20px;
    color: $color-light;
    font-weight: 700;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-width) {
  .page-main__wrapper {
    margin-top: 140px;
    display: flex;
  }

  .page-main__title-button {
    display: none;
  }
}
