.page-inner__nav {
  padding-top: 20px;
  padding-bottom: 35px;

  &--closed {
    padding-top: 15px;
    padding-bottom: 25px;
  }
}

@media (min-width: $tablet-width) {
  .page-inner__nav {
    padding-top: 40px;
    padding-bottom: 65px;

    &--closed {
      padding-top: 40px;
      padding-bottom: 45px;
      background-color: $color-dark;
    }
  }

  .page-inner__header {
    background-color: $color-dark;
  }
}

@media (min-width: $desktop-width) {
  .page-inner__nav {
    padding-top: 35px;
    padding-bottom: 7px;

    &--closed {
      padding-top: 35px;
      padding-bottom: 7px;
    }
  }
}
