.page-header {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 15;

  width: 100%;
  background-color: $color-dark;
}

.page-header--nojs {
  position: relative;
  z-index: 6;
  background-color: $color-light;
  margin-bottom: 1px;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-color: #182044;

    &--inner-page {
      background-color: $color-dark;
    }
  }

  .page-header--nojs {
    background-color: $color-light;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-color: $color-dark;
  }
}
