.page-main {
  background-color: #edeff6;
}

.page-main__title-wrap {
  margin: 0;
  background-color: $color-dark;
}

.page-main--nojs .page-main__title-wrap {
  padding-top: 30px;
}

.page-main__title-wrapper {
  padding-top: 5px;
  padding-bottom: 10px;
}

.page-main__title {
  position: relative;
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: $color-light;
}

.page-main__title-line {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  &::before {
    position: absolute;
    top: 48px;
    left: 0;

    content: "";

    background-color: #ff8d30;
    width: 100%;
    height: 3px;
    border-radius: 3px;
  }
}

.page-main__title-button {
  display: none;
}

.page-main__content {
  padding-top: 20px;
  background-color: #edeff6;
}

.page-main__content-title {
  margin: 0;
  padding: 25px 0 30px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #1d2e5b;
}

.page-main__content-section {
  position: relative;
  margin-top: -60px;
  border-radius: 25px 25px 0 0;

  &--plan {
    border-radius: 25px 25px 0 0;
    z-index: 1;
  }

  &--my-plans {
    z-index: 2;
  }

  &--add-plan {
    z-index: 3;
  }
}

@media (min-width: $tablet-width) {
  .page-main__title-wrap {
    padding: 140px 0 0;
  }

  .page-main--nojs .page-main__title-wrap {
    padding-top: 0;
  }

  .page-main__title-wrapper {
    padding-top: 70px;
    padding-bottom: 65px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-main__title {
    margin-left: 35px;
    font-size: 60px;
    line-height: 70px;
  }

  .page-main__title-line {
    &::before {
      top: 130px;
      left: 0;
      height: 5px;
    }
  }

  .page-main__title-icon {
    fill: $color-light;
  }

  .page-main__title-button {
    margin-right: 35px;
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 175px;

    font-size: 20px;
    color: $color-light;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;

    &:hover,
    &:focus {
      color: rgba($color-light, 0.6);

      .page-main__title-icon {
        fill: rgba($color-light, 0.6);
      }
    }

    &:active {
      color: rgba($color-light, 0.3);

      .page-main__title-icon {
        fill: rgba($color-light, 0.3);
      }
    }

    &--form {
      display: none;
    }
  }

  .page-main__content {
    padding: 0;
  }

  .page-main__content-title {
    padding: 0 0 40px 30px;
    font-size: 36px;
    line-height: 60px;
  }

  .page-main__content-section {
    border-radius: 40px 40px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    padding-left: 30px;
  }

  .page-main--nojs .page-main__title-wrap {
    padding-top: 40px;
  }

  .page-main__title-longline {
    left: 50px;
  }

  .page-main__title-button {
    margin-right: 60px;

    &--form {
      display: none;
    }
  }

  .page-main__catalog-wrap {
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
  }

  .page-main__content-title {
    padding: 0 0 45px 70px;
    font-size: 36px;
  }

  .page-main__content-section {
    border-radius: 60px 60px 0 0;
  }
}
