.page-footer {
  background-color: $color-light;
  border-radius: 25px 25px 0 0;
}

.page-footer__logo {
  padding-top: 35px;
  display: flex;
  justify-content: center;
}

.pae-footer__link {
  display: block;
}

.page-footer__social {
  padding: 35px 0;

  display: flex;
  justify-content: center;
}

.page-footer__social-item {
  margin: 0;
}

.page-footer__social-link {
  padding: 10px;

  background-color: $color-yellow;
  border-radius: 50%;

  &:hover,
  &:focus,
  &:active {
    background-color: #ffbd30;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding: 20px 0;
    border-radius: 40px 40px 0 0;
  }

  .page-footer__wrap {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__img {
    width: 166px;
    height: 42px;
  }

  .page-footer__social {
    padding: 30px 0;

    width: 180px;
    display: flex;
    justify-content: center;
  }

  .page-footer__social-link {
    padding: 16px;
  }

  .page-footer__social-icon {
    width: 26px;
    height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    margin: -60px 0 0 0;
    padding: 50px 0;
    border-radius: 60px 60px 0 0;
  }

  .page-footer__logo {
    padding: 0;
  }

  .page-footer__img {
    width: 200px;
    height: 52px;
  }

  .page-footer__social {
    padding: 0;
  }

  .page-footer__copyright {
    padding: 0;
  }
}
