.page-main {
  background-color: #edeff6;
}

.page-main__title-wrap {
  background-color: $color-dark;
}

.page-main__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: $color-light;
}
