.pagination__list {
  @include list-reset;
  display: flex;
  justify-content: center;
}

.paginetion__pages {
  display: none;
}

.pagination__item {
  background-color: $color-light;

  &--prev {
    margin-right: 1px;
    border-radius: 20px 0 0 20px;
  }

  &--next {
    border-radius: 0 20px 20px 0;
  }
}

.pagination__link {
  margin: 20px 0;

  width: 134px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  color: #1d2e5b;

  &--prev {
    border-radius: 15px 0 0 15px;
  }

  &--next {
    border-radius: 0 20px 20px 0;
  }
}

@media (min-width: $tablet-width) {
  .pagination {
    margin: 25px 0 25px;
    padding: 0 20px;

    border-radius: 15px;
    width: auto;

    display: flex;
    justify-content: space-between;
    background-color: $color-light;
  }

  .paginetion__pages {
    @include list-reset;
    display: flex;
  }

  .pagination__link {
    margin: 25px 0;

    width: 50px;
    height: 50px;

    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: $color-dark;
    border-radius: 50%;

    &--active {
      background-color: $color-yellow;
    }

    &:active {
      background-color: $color-yellow;
    }
  }
}

@media (min-width: $desktop-width) {
  .pagination {
    padding: 0 30px;
    width: 890px;
  }
}
