.pagination__list {
  @include list-reset;
  display: flex;
  justify-content: center;
}

.pagination__pages {
  display: none;
}

.pagination__item {
  background-color: $color-light;

  &--prev {
    margin-right: 1px;
    border-radius: 20px 0 0 20px;
  }

  &--next {
    border-radius: 0 20px 20px 0;
  }
}

.pagination__link {
  margin: 20px 0;

  width: 134px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  color: #1d2e5b;

  &:hover,
  &:focus {
    color: rgba(#1d2e5b, 0.6);

    .pagination__icon {
      fill: rgba(#1d2e5b, 0.6);
    }
  }

  &:active {
    background-color: #f3c72b;

    .pagination__icon {
      fill: rgba(#1d2e5b, 0.3);
    }
  }
}

.pagination__link-prev {
  padding: 20px 0;
  width: 134px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0 0 15px;

  &:hover,
  &:focus {
    .pagination__icon--prev {
      fill: rgba(#1d2e5b, 0.6);
    }
  }

  &:active {
    .pagination__icon--prev {
      fill: rgba(#1d2e5b, 0.3);
    }
  }
}

.pagination__link-next {
  padding: 20px 0;
  border-radius: 0 20px 20px 0;

  width: 134px;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    .pagination__icon--next {
      fill: rgba(#1d2e5b, 0.6);
    }
  }

  &:active {
    .pagination__icon--next {
      fill: rgba(#1d2e5b, 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .pagination {
    margin: 25px 0 25px;
    padding: 0 20px;

    border-radius: 15px;
    width: auto;

    display: flex;
    justify-content: space-between;
    background-color: $color-light;
  }

  .pagination__pages {
    @include list-reset;
    display: flex;
  }

  .pagination__link {
    margin: 25px 0;

    width: 50px;
    height: 50px;

    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: $color-dark;
    border-radius: 50%;

    &--active {
      background-color: $color-yellow;
    }
  }

  .pagination__list {
    width: 80px;
    display: flex;
    align-items: center;
  }

  .pagination__link-prev,
  .pagination__link-next {
    width: 40px;
  }
}

@media (min-width: $desktop-width) {
  .pagination {
    padding: 0 30px;
    width: 890px;
  }
}
