.profile-plan {
  padding: 65px 0;
  background-color: transparent;
}

.profile-plan__level {
  position: relative;
  float: left;

  padding: 0 30px 0 20px;

  width: 100px;
  height: 100px;
}

.profile-plan__score {
  position: absolute;
  top: 23px;
  left: 47px;

  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  color: $color-dark;
  border-bottom: 1px solid rgba($color-dark, 0.3);
}

.profile-plan__lev {
  position: absolute;
  top: 64px;
  left: 53px;

  display: flex;
  align-items: center;

  font-size: 18px;
  line-height: 22px;
  color: $color-dark;
}

.profile-plan__circle {
  width: 100px;
  height: 100px;
}

.profile-plan__circle-bg {
  fill: transparent;
}

.profile-plan__circle-progress {
  stroke: $color-orange;
  stroke-width: 2px;
  stroke-linecap: round;
  fill: transparent;
}

.profile-plan__img {
  display: block;
  border-radius: 50%;
}

.profile-plan__picture {
  border-radius: 50%;
}

.profile-plan__btn-name--desk {
  display: none;
}

.profile-plan__btn {
  margin: 20px 0 25px 0;

  width: 270px;

  display: block;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: $color-dark;
  text-transform: uppercase;
  background-color: #dfe3f0;
  text-align: center;
  border-radius: 20px;

  &:hover,
  &:focus {
    background-color: #d1d7e9;
  }

  &:active {
    color: rgba(#1d2e5b, 0.3);
  }
}

.profile-plan__fieldset {
  margin-bottom: 10px;
  padding: 5px 25px 20px 25px;
  border: 1px solid #cbced9;
  border-radius: 5px;
  text-align: center;

  &:hover {
    border: 1px solid #aeb4cb;
  }

  &:focus {
    border: 1px solid #161c35;
  }
}

.profile-plan__transport {
  padding-bottom: 5px;
}

.profile-plan__legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #1d2e5b;
  text-transform: uppercase;
}

.profile-plan__tags-text {
  margin: 0;

  width: 210px;

  border: none;
  overflow: hidden;
  resize: none;
  background-color: transparent;
  text-align: left;
  outline: none;
  appearance: none;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $color-grey;
}

.profile-plan__transport-wrap {
  display: flex;
  justify-content: center;
}

.profile-plan__transport-icon {
  padding: 8px;
  overflow: visible;

  width: 18px;
  height: 16px;

  background-color: $color-light;
  border-radius: 50%;
  fill: #d9d9d9;

  &--on {
    fill: #1d2e5b;
  }
}

.profile-plan__input:hover ~ .profile-plan__transport-icon {
  transform: scale(1.05);
  transition-duration: 0.3s;
  fill: #b2b2b2;
  box-shadow: 6px 6px 21px 0 rgba(#000000, 0.08);
  cursor: pointer;

  &--on {
    fill: #57617c;
  }
}

.profile-plan__input:active ~ .profile-plan__transport-icon {
  fill: #cbced8;
  box-shadow: none;

  &--on {
    fill: #a3a9bd;
  }
}

.profile-plan__fieldset--tags {
  &:hover,
  &:focus {
    border: 1px solid #aeb4cb;
  }

  &:active {
    border: 1px solid #161c35;
  }
}

@media (min-width: $tablet-width) {
  .profile-plan {
    margin-bottom: 0;
    padding-bottom: 45px;
  }

  .profile-plan__wrap {
    padding: 60px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &::before {
      content: "";
      flex-basis: 100%;
      width: 0;
      order: 4;
    }

    &::after {
      content: "";
      flex-basis: 100%;
      width: 0;
      order: 6;
    }
  }

  .profile-plan__level {
    padding: 0 35px 0 30px;
    float: none;
    order: -2;
  }

  .profile-plan__score {
    top: 23px;
    left: 61px;
  }

  .profile-plan__lev {
    top: 64px;
    left: 66px;
  }

  .profile-plan__btn {
    margin: 35px 35px 40px 35px;
    padding: 15px 0;

    width: 615px;

    order: 5;
    border-radius: 20px;
    font-size: 20px;
  }

  .profile-plan__pic-wrap {
    order: 3;
  }

  .profile-plan__img {
    width: 95px;
    height: 95px;

    border-radius: 5px;
  }

  .profile-plan__pic {
    padding: 0 35px 0 30px;
  }

  .profile-plan__fieldset {
    margin: 0;
    padding: 5px 35px 30px 35px;
    border-radius: 10px;
    transform: rotate(180deg);
  }

  .profile-plan__transport {
    margin: 0;
    order: -1;
    width: 315px;
  }

  .profile-plan__transport-wrap {
    transform: rotate(180deg);
  }

  .profile-plan__transport-icon {
    width: 20px;
    height: 20px;
    padding: 11px;
    border-radius: 50%;
    overflow: visible;
  }

  .profile-plan__tags {
    margin: 0 35px;
    order: 7;
  }

  .profile-plan__tags-text {
    padding: 0;
    width: 540px;
    transform: rotate(180deg);

    font-size: 20px;
    line-height: 24px;
  }

  .profile-plan__legend {
    font-size: 20px;
    transform: rotate(180deg);
  }
}

@media (min-width: $desktop-width) {
  .profile-plan {
    margin-top: -255px;
    padding-bottom: 100px;
    z-index: 4;
  }

  .profile-plan__wrap {
    padding: 0 60px;
    justify-content: space-between;
    align-items: center;

    &::before {
      content: "";
      flex-basis: 100%;
      width: 0;
      order: 3;
    }

    &::after {
      content: "";
      flex-basis: 100%;
      width: 0;
      order: 5;
    }
  }

  .profile-plan__pic {
    padding: 0 95px 0 0;
    width: 190px;
    height: 190px;
  }

  .profile-plan__img {
    width: 190px;
    height: 190px;

    border-radius: 15px 15px 0 0;
  }

  .profile-plan__level {
    margin-left: auto;
    margin-right: 10px;
    order: -1;
  }

  .profile-plan__score {
    color: $color-light;
  }

  .profile-plan__lev {
    color: $color-light;
    border-top: 1px solid #5c6172;
  }

  .profile-plan__pic-wrap {
    order: 2;
  }

  .profile-plan__btn {
    margin: 0 95px 25px 0;
    margin-left: 1035px;
    padding: 10px 0;

    width: 190px;

    order: 4;
    border-radius: 0 0 10px 10px;
  }

  .profile-plan__btn-name {
    &--mob {
      display: none;
    }

    &--desk {
      display: block;
    }
  }

  .profile-plan__tags {
    margin: 0 0 0 60px;
    order: 6;
    width: 725px;
    text-align: left;
  }

  .profile-plan__tags-text {
    width: 655px;
  }

  .profile-plan__fieldset {
    padding: 5px 35px 25px;

    &--tags {
      text-align: right;
    }
  }

  .profile-plan__transport {
    order: 6;
    width: 385px;
  }
}
