.rates {
  position: relative;
}

.rates__wrap {
  position: relative;

  padding-top: 110px;
  padding-bottom: 10px;

  &::after {
    position: absolute;
    top: 95px;
    right: 25px;

    content: "";
    width: 100px;
    height: 100px;

    background: url("../img/rates@1x.png");
    background-size: 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/rates@2x.png");
      background-size: 100%;
    }
  }
}

.rates__title {
  padding-bottom: 45px;
  padding-left: 25px;
  width: 105px;
}

.rates__item {
  padding-bottom: 10px;

  width: 245px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.rates__item-number {
  width: 34px;
  height: 34px;

  border-radius: 50%;
  color: $color-light;
  font-size: 14px;
  line-height: 34px;
  font-weight: 400;
  text-align: center;

  &--one {
    background-color: #ffa530;
  }

  &--two {
    background-color: #ffbd30;
  }

  &--three {
    background-color: #ffd74b;
    border-bottom: 1px solid #e1e3e9;
  }
}

.rates__item-inner {
  padding-top: 10px;

  width: 200px;
  border-top: 1px solid #e1e3e9;
}

.rates__list {
  @include list-reset;
  padding-left: 25px;

  &--business {
    padding: 0 0 35px 0;
  }
}

.rates__term,
.rates__price {
  margin: 0;
  color: $color-grey;
  font-weight: 300;
}

.rates__button {
  display: block;
  padding-top: 30px;
  padding-bottom: 25px;
  font-weight: 700;
  color: #132576;
  text-align: center;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.rates__button-icon {
  display: none;
}

@media (min-width: $tablet-width) {
  .rates__wrap {
    padding-top: 130px;
    padding-bottom: 35px;

    &::before {
      position: absolute;
      top: 215px;
      right: 40px;
      z-index: -1;

      content: "";

      width: 200px;
      height: 285px;

      background-color: #e2e5f2;
      border-radius: 15px;
    }

    &::after {
      top: 475px;
      right: 90px;
    }
  }

  .rates__title {
    margin: 0 auto;
    padding: 0 30px 80px 30px;
    width: 485px;
  }

  .rates__list {
    padding: 0;

    &--business {
      padding-bottom: 45px;
    }
  }

  .rates__item-inner {
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 565px;
  }

  .rates__item-number {
    width: 67px;
    height: 67px;

    order: -1;

    font-size: 28px;
    line-height: 70px;
  }

  .rates__item {
    padding: 0;
    width: 660px;

    align-items: center;
  }

  .rates__term {
    font-size: 28px;
    line-height: 33px;
  }

  .rates__price {
    font-size: 28px;
    line-height: 33px;
  }

  .rates__button {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 20px;
    text-align: left;
  }

  .rates__button-icon {
    margin-right: 20px;
    padding: 24px 26px;

    display: block;
    overflow: visible;

    width: 16px;
    height: 21px;

    fill: #132576;
    background-color: #e2e5f2;
    border-radius: 50%;
  }
}

@media (min-width: $desktop-width) {
  .rates__wrap {
    padding: 170px 60px 145px 60px;

    &::before {
      top: 300px;
      right: 250px;

      width: 445px;
      height: 300px;
      border-radius: 20px;
    }

    &::after {
      top: 350px;
      right: 140px;

      width: 198px;
      height: 198px;
    }
  }

  .rates__title {
    padding: 0 30px 130px 30px;
  }

  .rates__list {
    margin-left: 70px;

    width: 900px;
  }

  .rates__item {
    width: 100%;
  }

  .rates__item-inner {
    margin-left: 20px;
    width: 810px;
  }

  .rates__button {
    margin-left: 70px;
  }

  .rates__button-mod {
    margin: 0;
  }
}
