.routes__wrap {
  padding-top: 130px;
  padding-bottom: 30px;
}

.routes__title {
  padding: 0 25px;
}

.routes__text {
  margin: 0;
  padding: 20px 50px 60px 25px;
  width: 195px;
}

.routes__list {
  @include list-reset;
  padding-bottom: 25px;
}

.routes__item {
  position: relative;

  margin-bottom: 10px;
  width: 270px;

  &:last-of-type {
    margin: 0;
  }
}

.routes__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.routes__info {
  position: relative;
  z-index: 1;

  margin-top: -15px;
  padding: 25px 25px 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  border-radius: 10px;
  background-color: $color-light;
}

.routes__flag {
  position: absolute;
  z-index: 2;
  top: 88px;
  left: 25px;

  width: 34px;
  height: 24px;
}

.routes__country-title {
  margin: 0;
  font-size: 21px;
  line-height: 21px;
  color: $color-dark;
  font-weight: 700;
}

.routes__users {
  margin: 0;

  text-align: right;
  font-size: 16px;
  line-height: 25px;
  color: rgba($color-grey, 0.3);
  font-weight: 500;
}

.routes__user-icon {
  width: 11px;
  height: 11px;
  fill: #e8e8ec;
}

.routs__description {
  margin: 0;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  color: rgba($color-grey, 0.3);
  font-weight: 500;
}

@media (min-width: $tablet-width) {
  .routes__wrap {
    padding-top: 130px;
    padding-bottom: 85px;

    background: url("../img/flags-back@1x.png") no-repeat;
    background-position: 440px 130px;
    background-size: 289px 575px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/flags-back@2x.png") no-repeat;
      background-position: 440px 130px;
      background-size: 289px 575px;
    }
  }

  .routes__title {
    padding: 0 35px;
  }

  .routes__text {
    padding: 55px 50px 110px 35px;
    width: 342px;
  }

  .routes__list {
    padding: 0 35px 45px 35px;
  }

  .routes__item {
    margin-bottom: 10px;

    width: 619px;

    display: flex;

    &:last-of-type {
      position: relative;

      &::after {
        position: absolute;
        top: 70px;
        left: 0;
        z-index: 1;

        content: "";
        width: 620px;
        height: 80px;

        background: linear-gradient(to bottom, transparent 10%, #edeff6 90%);
      }
    }
  }

  .routes__img {
    display: block;
    border-radius: 0 20px 20px 0;
  }

  .routes__flag {
    top: 18px;
    left: 400px;

    width: 71px;
    height: 48px;
  }

  .routes__info {
    margin: 0;
    padding: 25px 30px 20px 30px;

    border-radius: 20px 0 0 20px;
    flex-direction: column;
    order: -1;
  }

  .routes__country-title {
    font-size: 24px;
    line-height: 24px;
  }

  .routs__description {
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
    width: 370px;
  }

  .routes__users {
    order: 1;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
  }

  .routes__user-icon {
    width: 20px;
    height: 20px;
  }

  .routes__button {
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media (min-width: $desktop-width) {
  .routes__wrap {
    padding-top: 225px;
    padding-bottom: 140px;

    position: relative;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    background-position: 1090px 80px;
  }

  .routes__title-wrap {
    padding-left: 800px;
  }

  .routes__title {
    padding: 0;
  }

  .routes__list {
    padding: 0;

    position: absolute;
    top: 225px;
    left: 125px;
  }

  .routes__item {
    width: 560px;
  }

  .routes__info {
    padding: 25px 30px 20px 35px;
  }

  .routes__flag {
    top: 18px;
    left: 340px;
  }

  .routes__text {
    padding: 55px 50px 100px 0;
  }

  .routs__description {
    width: 315px;
  }

  .routes__button {
    margin-left: 800px;
  }
}
