.site-list {
  @include list-reset;
  padding: 40px 0 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.site-list__link {
  display: block;

  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
  color: $color-blue;
}

@media (min-width: $tablet-width) {
  .site-list {
    padding: 45px 60px 45px 60px;

    width: 568px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .site-list__link {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__closed .site-list {
    display: flex;
  }

  .site-list {
    margin: 0;
    padding: 30px 40px;

    width: auto;

    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
  }

  .site-list__item {
    margin-right: 35px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .site-list__link {
    overflow: hidden;
    font-size: 20px;
    line-height: 30px;
    color: $color-light;
  }

  .site-list__link span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    transition: transform 0.3s;

    &::before {
      position: absolute;
      top: 100%;
      content: attr(data-hover);
      transform: translate3d(0, 0, 0);
      box-sizing: border-box;
      color: #ffd74b;
    }
  }

  .site-list__link:hover span,
  .site-list__link:focus span {
    transition: transform 0.3s;
    transform: translateY(-20%);
    color: #ffd74b;
  }

  .site-list__link:active span {
    color: rgba(#ffd74b, 0.3);
  }

  .site-list__link:not([href]) {
    color: #ffd74b;
  }
}
