.site-list {
  @include list-reset;
  margin: 0 auto;
  padding: 40px 0 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.site-list__link {
  display: block;

  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
  color: $color-blue;
}

@media (min-width: $tablet-width) {
  .site-list {
    padding: 45px 60px 45px 60px;

    width: 688px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .site-list__link {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__closed .site-list {
    display: flex;
  }

  .site-list {
    margin: 0;
    padding: 30px 40px;

    width: 630px;

    flex-direction: row;
    justify-content: flex-start;
  }

  .site-list__item {
    margin-right: 35px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .site-list__link {
    font-size: 20px;
    line-height: 30px;
    color: $color-light;
  }
}
