.social-list {
  @include list-reset;
  display: flex;
  justify-content: center;
  width: 100%;
}

.social-list__item {
  margin-right: 20px;

  &:last-of-type {
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .social-list {
    display: none;
    width: 688px;
  }
}
