.travelers-choice {
  background-color: #ffd74b;
}

.travelers-choice__title {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #1d2e5b;
}

.travelers-choice__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.travelers-choice__legend-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #1d2e5b;
  text-transform: uppercase;
  border: none;
}

.travelers-choice__label {
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #444444;
}
