.travelers-choice {
  margin-top: 25px;
  background-color: $color-yellow;
  border-radius: 20px;
}

.travelers-choice__wrap {
  padding: 25px 25px 20px 25px;
}

.travelers-choice__title {
  margin: 0;
  padding-bottom: 25px;
  padding-right: 100px;

  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #1d2e5b;
}

.travelers-choice__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  width: 220px;
}

.travelers-choice__legend {
  padding: 10px 0;
  width: 220px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f3c72b;

  &:hover,
  &:focus {
    .travelers-choice__legend-text {
      color: rgba(#1d2e5b, 0.6);
    }

    .travelers-choice__dropdown {
      fill: rgba(#1d2e5b, 0.6);
    }
  }

  &:active {
    .travelers-choice__legend-text {
      color: rgba(#1d2e5b, 0.3);
    }

    .travelers-choice__dropdown {
      fill: rgba(#1d2e5b, 0.3);
    }
  }
}

.travelers-choice__legend-text {
  font-size: $text-size;
  line-height: 18px;
  font-weight: 700;
  color: #1d2e5b;
  text-transform: uppercase;
  border: none;
}

.travelers-choice__legend-btn {
  padding: 0;
  display: flex;
  align-items: start;
  border: none;
  background-color: transparent;
  text-align: right;
  outline: none;
}

.travelers-choice__dropdown {
  fill: $color-blue;

  &--up {
    transform: rotate(180deg);
  }
}

.travelers-choice__tick {
  overflow: visible;
  fill: $color-blue;
}

.travelers-choice__tick-field {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;

  background-color: $color-light;
  border-radius: 3px;
}

.travelers-choice__input:not(:checked) + .travelers-choice__tick-field svg {
  display: none;
}

.travelers-choice__input:checked + .travelers-choice__tick-field svg {
  display: block;
}

.travelers-choice__label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: $color-grey;

  &:hover,
  &:focus {
    color: rgba($color-grey, 0.6);
  }

  &:active {
    color: rgba($color-grey, 0.3);

    .travelers-choice__tick {
      fill: rgba($color-grey, 0.3);
    }
  }
}

.travelers-choice__list {
  padding-bottom: 15px;

  &--transport {
    padding-bottom: 10px;
    display: flex;
  }

  &--dropdown {
    display: block;
  }

  &--closed {
    display: none;
  }
}

.travelers-choice__item {
  padding: 6px 0;

  display: flex;
  align-items: center;
}

.travelers-choice__transport-icon {
  padding: 7px;

  width: 18px;
  height: 16px;

  overflow: visible;
  background-color: $color-light;
  border-radius: 50%;
}

.travelers-choice__btn {
  width: 220px;
  border: none;
  line-height: 40px;
  border-radius: 20px;
  background-color: $color-light;

  &:hover,
  &:focus {
    background-color: $color-light;
    box-shadow: 2px 2px 10px rgba(#000000, 0.08);
    transform: scale(1.03);
    transition-duration: 0.3s;
  }

  &:active {
    background-color: #f3c72b;
    color: rgba(#161c35, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .travelers-choice {
    margin: 40px 0;
  }

  .travelers-choice__wrap {
    padding: 40px 30px;
  }

  .travelers-choice__title {
    width: 619px;
    padding-bottom: 30px;
    font-size: 30px;
    line-height: 30px;
  }

  .travelers-choice__inner {
    width: 619px;
    margin: 0 auto;
    padding: 30px 0;
    border-top: 1px solid #f3c72b;
    border-bottom: 1px solid #f3c72b;
  }

  .travelers-choice__fieldset {
    width: 100%;
  }

  .travelers-choice__fieldset-wrap {
    display: flex;

    &--transport {
      padding-top: 15px;
    }

    &--level {
      padding-top: 8px;
    }
  }

  .travelers-choice__legend {
    padding: 10px 0;

    width: 120px;
    border: none;
  }

  .travelers-choice__legend-text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }

  .travelers-choice__legend-btn {
    display: none;
  }

  .travelers-choice__list {
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;

    &--closed {
      display: flex;
    }

    &--transport {
      justify-content: flex-start;
    }
  }

  .travelers-choice__item {
    padding: 10px 0;
    width: 155px;

    &--transport {
      padding: 0;
      width: 45px;
    }
  }

  .travelers-choice__label {
    font-size: 20px;
    line-height: 20px;
  }


  .travelers-choice__tick {
    width: 12px;
    height: 12px;
  }

  .travelers-choice__tick-field {
    width: 25px;
    height: 25px;
  }

  .travelers-choice__transport-icon {
    padding: 10px;
    width: 23px;
    height: 20px;
  }

  .travelers-choice__btn {
    margin-top: 35px;

    width: 619px;

    line-height: 50px;
    font-size: 20px;
    border-radius: 20px;
  }
}

@media (min-width: $desktop-width) {
  .travelers-wrap {
    display: flex;
    justify-content: space-between;
  }

  .travelers-choice__fieldset-wrap {
    display: block;

    &--transport {
      padding: 0;
    }
  }

  .travelers-choice__wrap {
    display: flex;
    flex-direction: column;
    padding: 50px 40px 40px 40px;
  }

  .travelers-choice {
    order: 1;
    width: 280px;
    align-self: baseline;
  }

  .travelers-choice__inner {
    width: 200px;
    padding: 0;
    border: none;
  }

  .travelers-choice__title {
    width: 200px;
    padding: 0 0 20px 0;
  }

  .travelers-choice__list {
    padding: 10px 0 20px 0;

    width: 200px;
    display: block;

    &--closed {
      display: none;
    }

    &--transport {
      padding: 0;
      display: flex;
    }
  }

  .travelers-choice__legend {
    padding: 5px 0;
    width: 200px;
    display: flex;
    justify-content: space-between;
  }

  .travelers-choice__item {
    padding: 7px 0;
  }

  .travelers-choice__legend-btn {
    display: block;
  }

  .travelers-choice__btn {
    margin: 25px 0 0 0;
    width: 200px;
  }
}
