.user-list {
  @include list-reset;
  width: 270px;
}

.user-list__login {
  display: block;
  padding: 10px 0;

  width: 270px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    order: -1;
    width: 333px;

    &--inner-page {
      padding: 42px 40px 42px 0;
      background-color: $color-dark;
    }
  }

  .user-list__item {
    margin-left: 143px;
  }

  .user-list__login {
    width: 190px;

    border-radius: 25px;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    padding: 0;
    display: flex;
    width: 190px;
    order: 1;
  }

  .user-list__item {
    margin-left: 0;
  }
}
