.user-list {
  @include list-reset;
  width: 100%;
  padding: 10px 0;
}

.user-list__item {
  margin-left: auto;
}

.user-list__login {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    justify-content: flex-end;
    order: -1;
    width: 333px;
  }

  .user-list__login {
    width: 190px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    order: 1;
    width: 190px;
  }

  .user-list__login {
    width: 185px;
  }
}
