.user-card__wrap {
  display: flex;
  flex-direction: column;
}

.user-card {
  border-radius: 10px;
  margin-bottom: 10px;
}

.user-card__picture {
  width: 270px;
  height: 270px;
}

.user-card__score {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: $color-light;

  &--catalog {
    color: #1d2e5b;
  }
}

.user-card__lev {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $color-light;
}

.user-card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.user-card__flags {
  @include list-reset;
}

.user-card__title {
  margin: 0;
  padding-bottom: 15px;
}

.user-card__link {
  padding-top: 25px;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  color: #1d2e5b;
}

.user-card__habits {
  margin: 0;
  padding-bottom: 15px;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $color-grey;
}

.user-card__transport-list {
  @include list-reset;
}

.user-card__transport-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .user-card__wrap {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
  }

  .user-card {
    border-radius: 20px;
    margin-bottom: 20px;
  }

  .user-card__picture {
    width: 285px;
    height: 285px;
  }

  .user-card__link {
    padding-top: 30px;
    font-size: 24px;
  }

  .user-card__habits {
    margin: 0;
    padding-bottom: 25px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .user-card__wrap {
    flex-direction: row;
    justify-content: space-between;
    order: 1;
    padding-left: 0;
    padding-right: 0;
    margin-left: 180px;
  }
}
