.user-card__wrap {
  display: flex;
  flex-direction: column;
}

.user-card {
  position: relative;

  border-radius: 10px;

  &:hover {
    background-color: $color-light;
    transform: scale(1.03);
    transition-duration: 0.3s;
    box-shadow: 6px 6px 21px 0 rgba(#000000, 0.08);
  }
}

.user-card__picture {
  width: 270px;
  height: 270px;
}

.user-card__level {
  position: relative;
}

.user-card__circle {
  width: 45px;
  height: 45px;
}

.user-card__circle-bg {
  fill: transparent;
}

.user-card__circle-progress {
  stroke: $color-orange;
  stroke-width: 2px;
  stroke-linecap: round;
  fill: transparent;
}

.user-card__score {
  position: absolute;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: $color-light;

  &--catalog {
    color: #1d2e5b;
  }
}

.user-card__lev {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $color-light;

  display: none;
}

.user-card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card__flags {
  @include list-reset;
}

.user-card__title {
  margin: 0;
}

.user-card__link {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #1d2e5b;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-card__habits {
  margin: 0;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $color-grey;
}

.user-card__transport-list {
  @include list-reset;
}

.user-card__transport-icon {
  width: 24px;
  height: 21px;

  fill: rgba(#000000, 0.15);

  &--on {
    fill: #1d2e5b;
  }
}

@media (min-width: $tablet-width) {
  .user-card__wrap {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
  }

  .user-card {
    border-radius: 20px;
  }

  .user-card__picture {
    width: 285px;
    height: 285px;
  }

  .user-card__link {
    font-size: 24px;
    display: inline-block;
  }

  .user-card__habits {
    margin: 0;
    padding-bottom: 25px;
    font-size: 20px;
    line-height: 24px;
  }

  .user-card__lev {
    display: block;
  }

  .user-card__circle {
    width: 60px;
    height: 60px;
  }
}
